*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #023566;
}

h1
{
    color: #fff;
    font-size: 30px;
}
