*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root
{
    --color--primary: #023566;
}

body
{
    background-color: var(--color--primary);
}

.container_main
{
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}

.container_header_main
{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #fff;
}

.container_navbar_main
{
    width: 90%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.link
{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.section_main
{
    width: 100%;
    height: calc(100vh - 60px);
    margin: auto;
    display: grid;
    place-items: center;
}

.article_content_main
{
    width: 700px;
    height: auto;
    margin: auto;
    display: grid;
    gap: 20px;
    text-align: center;
}

.container_content_main
{
    width: 100%;
    height: 150px;
    margin: auto;
    display: grid;
    color: #fff;
    gap: 20px;
}

.container_items
{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #fff;
    padding: 20px;
}

.icon_item
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button_global
{
    padding: 10px;
    background-color: #1553A1;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}


@media screen and (max-width: 768px)
{

.article_content_main
{
    width: 90%;
    height: auto;
    margin: auto;
    display: grid;
    text-align: center;
}

.container_content_main
{
    width: 100%;
    height: auto;
    margin: auto;
    display: grid;
    gap: 20px;
    color: #fff;
}

.container_items
{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #fff;
    padding: 20px;
}
}

@media screen and (max-width: 550px)
{

.container_items
{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #fff;
    padding: 5px;
}
}